---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
import 'animate.css';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100 text-gray-900">

    <header class="bg-gray-500 shadow">
      <Header />
    </header>
    
    <main class="min-h-screen">
      <slot />
    </main>

    <footer class="bg-slate-800 text-black py-6">
      <Footer />
    </footer>
      
  </body>
</html>